@charset "utf-8";

body {
    text-align: center;
    font-family: serif;
}

#loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg, #310000 15%, #600000 50%, #310000 85%);
    z-index: 1;
  }
   
  #loader-bg #loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    text-align: center;
    color: rgb(255, 242, 62);
    font-size: 50px;
    font-family: serif;
    z-index: 2;
  }

  #loader p{
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    color: rgb(255, 242, 62);
    font-size: 50px;
    font-family: serif;
  }

  @keyframes fadeIn {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}

#header {
    width: 100%;
    background-image: url(../images/mainbg.png);
    height: 750px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: #ffd61a;
    background-color: rgba(255, 116, 116, 0.308);

}

#header img{
    height: 60px;
    margin-top: 50px;
    vertical-align: middle;
    display: inline-block;
}

#header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header li{
    margin: 50px;
    font-size: 15px;
}   

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.mainmessage h2{
    font-size: 20px;
    text-align: center;
}

.h3y {
    padding: 60px 0 30px 0;
    font-size:24px;
    color: #ffd61a;
}

.h3b {
    padding: 60px 0 30px 0;
    font-size:24px;
    color: #222222;
}


.semititle {
    font-size: 18px;
    margin-bottom: 60px;
}

.about p{
    margin-bottom: 40px;
}

.images {
    margin-top: 80px;
    background-size: cover;
    width: 100%;
}

.course-upper, .course-middle,.course-bottom {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
}

.courseimage, .coursetext {
    width: 50%;
}

.coursetext h4{
    margin-bottom: 40px;
}

.coursetext {
    text-align-last: left;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ct {
    justify-content: left;
    align-items: center;
    width: 70%;
    margin-left: 50px;
    margin-right: auto;
}

.ct1 {
    width: 70%;
    margin-right: 50px;
    margin-left: auto;
}

p {
    font-size: 16px;
    line-height: 2;
}

h4 {
    font-size: 22px;
}

#newscontents {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-content {
    margin: auto 30px;
    width: 300px;
    text-align: left;
}

.news-content img{
    margin-bottom: 30px;
}

.newsdate {
    margin-bottom: 24px;
}

.more {
    font-size: 18px;
    display: inline-block;
    height: 60px;
    width: 300px;
    margin: 60px auto;
    background-color: #ffd61a;
    color: white;
    text-align: center;
}

.more:hover {
    background-color: #e7fd96;
    color: #d1d1d1;
    transition: 0.5s;
}

#access {
    background-color: #f7f7f7;
}

.ggmap {
    position: relative;
}

.ggmap iframe,{
    position: absolute;
    width: 100%;
    height: 300px;
}

.accesslist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.accesslist li{
    text-align: left;
    padding-bottom: 30px;
    padding-right: 50px;
}

.contacttext{
    margin-bottom: 30px;
}

.loop {
    background-image: url(../images/images.jpg);
    background-size: cover;
    height: 236.59px;
    animation: leftSlide 50s linear infinite;
}

@keyframes leftSlide {
    0% {background-position: 2000px 0;}
    25% {background-position: 1500px 0;}
    50% {background-position: 1000px 0;}
    75% {background-position: 500px 0;}
    100% {background-position: 0 0;}
}


.formlist {
    padding:70px 0 30px 0;
    width: 640px;
    display: flex;
    justify-content: center;
    align-items: top;
    margin: auto;
}

.form li{
    padding: 8px 64px 8px 16px;
    width: 240px;
    text-align: left;
}

.form05 {
    height: 180px;
}

.input {
    
}

.input li{
    padding: 8px 0 8px 8px;
    text-align: left;
    width: 400px;
    border-color: #bfbfbf;
    font-size: 16px;
}

input[type="checkbox" i] {
    background-color: #bfbfbf;
    margin: 3px 0.5ex;
    padding: auto 0;
    border: initial;
}

select {
    height: 48px;
    font-size: 16px;
    border-color: #bfbfbf;
}

.checkbox {
    justify-content: left;
    align-items: center;
}

.checkbox input{
    margin-bottom: 24px;
    vertical-align: middle;
}

.send {
    font-size: 18px;
    display: inline-block;
    height: 60px;
    width: 300px;
    margin: 30px 0 140px 0;;
    background-color: #ffd61a;
    color: white;
    text-align: center;
}

.send:hover {
    background-color: #e7fd96;
    color: #d1d1d1;
    transition: 0.5s;
}

#footer {
    padding: 30px 0;
    color: white;
    background-color: grey;
}