@charset "utf-8";


html, body { 
    height: 100%; 
}

body { 
    position:relative;
    margin: 0;
    padding: 0; 
    font: 12px/100% ;
    font-family: serif; 
    text-align: center;
}

#loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg, #310000 15%, #600000 50%, #310000 85%);
    z-index: 1;
  }
   
  #loader-bg #loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    text-align: center;
    color: rgb(255, 242, 62);
    font-size: 50px;
    font-family: serif;
    z-index: 2;
  }

  #loader p{
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    color: rgb(255, 242, 62);
    font-size: 50px;
    font-family: serif;
  }

  @keyframes fadeIn {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}

#menu-wrap { 
    position: fixed; 
    z-index: 9999; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background: rgba(0,0,0,.5); 
    font-family: sans-serif; 
    transition: .3s 
}

#menu { 
    list-style-type: none; 
    max-width: 960px; 
    margin: 0px auto 0px; 
    padding: 0; 
}

#menu li { 
    width: 20%; 
    float: left; 
    margin: 0; 
    padding: 0; 
    text-align: center; 
}

#menu li a { 
    display: block; 
    width : 100%; 
    padding: 20px 0; 
    color: #fff; 
    font-size: 14px; 
    line-height: 1; 
    text-decoration: none; 
    transition: .3s; 
}

#menu li a:hover { 
    background: rgba(0,0,0,.3); 
}

#header {
    width: 100%;
    background-image: url(../images/mainbg.png);
    height: 700px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: #ffd61a;

}

#header img{
    height: 60px;
    margin-top: 50px;
    vertical-align: middle;
    display: inline-block;
}

#header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header li{
    margin: 50px;
    font-size: 15px;
}   

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 2px; 
}

.mainmessage h2{
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px; 
}

h3 {
    padding: 0 0 30px 0;
    font-size:24px;
    color: #ffd61a;
    letter-spacing: 2px; 
}

a, a:visited {
    color: #fff; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}



.semititle {
    font-size: 18px;
    margin-bottom: 60px;
    line-height: 2;
}

#about {
    width: 100%;
    background-image: url(../images/cheese.jpg);
    height: 750px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-details {
    width: 70%;
}

#about-text {
    transition-delay: 1.8s;
}

.course-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/cheese1.jpg);
    background-size: cover; 
}

.course-explanation {
    margin-top: 150px;
    margin-bottom: 100px;

}

/* .course-explanation h3{
    padding-top: 300px;
} */

.course-details {
    width: 100%;
    /* background-image: url(images/mainbg.png); */
    /* height: 100vh;
    background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.course-detail {
    width:50%;
}

.course-txts{
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-title {
    font-size: 15px;
    font-family: serif;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

.course-txt {
    text-align: left;
    line-height: 1.5;
    margin-bottom: 30px;
    width: 80%;
}

.news {
    width: 100%;
    background-image: url(../images/cheese2.jpg);
    height: 1000px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-content {
    margin: auto 30px;
    width: 20%;
    text-align: left;
}

.news-content img{
    margin-bottom: 30px;
}

.newsdate {
    margin-bottom: 24px;
}

.more {
    font-size: 18px;
    display: inline-block;
    height: 60px;
    width: 300px;
    margin: 60px auto;
    background-color: #ffd61a;
    color: white;
    text-align: center;
}

.more:hover {
    background-color: #e7fd96;
    color: #d1d1d1;
    transition: 0.5s;
}

.access {
    width: 100%;
    background-image: url(../images/cheese3.jpeg);
    height: 750px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ggmap {
    position: relative;
    width: 100%;
    height: 700px;
}

.ggmap iframe {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 0;
    left: 0;
}
.accesslist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.accesslist li{
    text-align: left;
    padding-bottom: 30px;
    padding-right: 50px;
}

.contact {
    width: 100%;
    background-image: url(../images/cheese4.jpg);
    height: 750px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacttext{
    margin-bottom: 30px;
}

/* .loop {
    background-image: url(../images/images.jpg);
    background-size: cover;
    height: 236.59px;
    animation: leftSlide 50s linear infinite;
}

@keyframes leftSlide {
    0% {background-position: 2000px 0;}
    25% {background-position: 1500px 0;}
    50% {background-position: 1000px 0;}
    75% {background-position: 500px 0;}
    100% {background-position: 0 0;}
} */


.formlist {
    width: 100%;
    background-image: url(../images/cheese5.jpg);
    height: 1000px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formlist h3 {
    padding-bottom: 30px;
}

.mainform {
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 0 0 10px 0;
    width: 40%;
    margin: auto;
    height: 60%;
}

.form li{
    padding: 8px 64px 8px 16px;
    width: 240px;
    text-align: left;
}

.form05 {
    height: 180px;
}

.input li{
    padding: 8px 0 8px 8px;
    text-align: left;
    width: 400px;
    border-color: #bfbfbf;
    font-size: 16px;
}

input[type="checkbox" i] {
    background-color: #bfbfbf;
    margin: 3px 0.5ex;
    padding: auto 0;
    border: initial;
}

select {
    height: 48px;
    font-size: 16px;
    border-color: #bfbfbf;
}

.checkbox {
    justify-content: left;
    align-items: center;
}

.checkbox input{
    margin-bottom: 24px;
    vertical-align: middle;
}

.send {
    font-size: 18px;
    display: inline-block;
    height: 60px;
    width: 300px;
    margin: 10px 0 0 0;;
    background-color: #ffd61a;
    color: white;
    text-align: center;
}

.send:hover {
    background-color: #e7fd96;
    color: #d1d1d1;
    transition: 0.5s;
}

#footer {
    padding: 30px 0;
    color: white;
    background-color: grey;
}

#page-top i { 
    position: relative; 
    padding-top: 2px; 
    transition: .2s; 
    display: block;
    width: 20%;
    margin: 0 auto;
}

#page-top:hover i { 
    animation: page-top-animation .1s ease 0s infinite alternate; 
}

@keyframes page-top-animation {
    0% {padding-top: 0px; }
    100% {padding-top: 3px; }
}


html, body { height: 100%; }
body { position:relative; margin: 0; padding: 0; font: 12px/100% 'Acme', sans-serif; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

a, a:visited { color: #000000; text-decoration: none; }
a:hover { text-decoration: underline; }
.cover { position: relative; width: 100%; margin: 0; padding: 0; color: #000000; }

.centerBoxFix { position: fixed; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; height: 20px; line-height: 160%; text-align: center; text-shadow: 0 1px 1px rgba(0,0,0,.3); }
.centerBoxLast { z-index: -1; }

.centerBox { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; line-height: 160%; text-align: center; text-shadow: 0 1px 1px rgba(0,0,0,.3); }
/* .centerBox i { height: 120px; padding: 20px; font-size: 100px; transition: .8s; transition-delay: 0; }  */
.centerBox div { margin: auto; transition: .8s; transition-delay: .8s; }

#course.centerBox{
    position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; line-height: 160%; text-align: center; text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.section1 { height: 100%; background: url(img/big-sky-img1.jpg) no-repeat; background-size: cover; }
.section2 { height: 100%; background: url(img/subtle_white_feathers.png); color: #000000; }
.section3 { height: 100%; background: url(../images/cheese7.jpg) no-repeat; background-size: cover; }
.section4 { height: 100%; }
.section5 { position: relative; z-index: -2; height: 100%; background: url(img/big-sky-img3.jpg) no-repeat; background-size: cover; }

#menu-wrap { position: fixed; z-index: 9999; top: 0; left: 0; width: 100%; background: rgba(0,0,0,.5); font-family: 'Open Sans', sans-serif; transition: .3s }
#menu { list-style-type: none; max-width: 960px; margin: 0px auto 0px; padding: 0; }
#menu li { width: 20%; float: left; margin: 0; padding: 0; text-align: center; }
#menu li a { display: block; width : 100%; padding: 20px 0; color: #000000; font-size: 14px; line-height: 1; text-decoration: none; transition: .3s; }
#menu li a:hover { background: rgba(0,0,0,.3); }

#page-top i { position: relative; padding-top: 2px; transition: .2s; }
#page-top:hover i { animation: page-top-animation .1s ease 0s infinite alternate; }
@keyframes page-top-animation {
0% {padding-top: 0px; }
100% {padding-top: 3px; }
}
@media only screen and (min-width: 1023px) {
.section1, .section3, .section5 { background-attachment: fixed; }
}

